@use "../var.scss";
@use "../mixin.scss";

#addPreview {
    margin: 3rem;
    padding: 1rem;
    border: solid 1px var.$color-admin;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__group__container {

    @include mixin.desktop {
        display: flex;
        flex-direction: row;

    justify-content: space-between;
        // align-content: flex-start;
    }

}

.form__group__container--file {
    justify-content: flex-start;
    align-items: flex-start;
}

.form__group {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.form__label {
    background-color: var.$color-admin;
    color: white;
    padding: .5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form__button__container {
    display: flex;
    justify-content: center;
}

.form__button {
    background-color: var.$color-admin;
    border-radius: 10px;
    color: white;
    margin: 1rem;
    display: block;
    padding: .7rem 2rem .7rem 2rem;
    max-width: 8rem;
}