@use "../style/var.scss";
@use "../style/mixin.scss";


.genre__container {
    margin: 3rem;
    padding: 1rem;
    border: solid 1px var.$color-admin;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mixin.desktop {
    max-width: calc(100vw/2 - 6rem);
    }
}

.genre__accordion__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.genre__accordion__title {
    display: flex;
    width: 100%;
    justify-content: center;
}

.genre__list__item {
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.accordion-button {
    flex-direction: column;
}

.genre__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.genre__button__container {
    display: flex;
    justify-content: center;
}

.genre__form__button {
    background-color: var.$color-admin;
    border: none;
    border-radius: 10px;
    color: white;
    // margin: 1rem;
    padding: .7rem 2rem .7rem 2rem;
    max-width: 10rem;
}

.genre__form__button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: #CE4B27;
}