@use "/src/mixin";
@use "/src/var";

.title-main {
    text-align: center;
    padding-top: 20rem;
}

.subtitle {
    text-align: center;
    padding-top: 1rem;
}

.text-center {
    text-align: center;
    padding-top: 1rem;
}

.link-container {
    text-align: center;
    padding-top: 1rem;
}

@include mixin.desktop { 

.notfound-global {
    padding-top: 3rem;
    padding-bottom: 3rem;
    }
}