.client-liste {
    // display: grid;
    // grid-template-columns: repeat(1, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    // gap: 8px;
    border: solid 1px #e07a5f;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 1px rgba(133, 132, 132, 0.31);
    padding: 0.2rem;
    padding-bottom: 0.8rem;
    margin-top: 10rem;
}

.client-liste-header {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(1, 1fr);
    // gap: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: #e07a5f;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.client-liste-header-mobile {
    display: none;
}

@media (max-width: 576px) {
    .client-liste-header-mobile {
        display: block;
    }
    .client-liste-header-desktop {
        display: none;
    }
}

.client-liste-result {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(1, 1fr);
    // gap: 2px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.client-liste-result_item {
    border-left: solid 1px #e07a5f;
}

// .client-liste-result_phone-number_item {
//     border-right: solid 1px #e07a5f;
// }

// .client-liste-result_item {
//     margin: 0;
// }
